.maze-intro-card {
    .rule{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h2, h3{
            text-align: left;
        }

        border-bottom: 3px solid #bdbbbb; 

        margin-bottom: 20px;
        padding: 20px 0;
    }


  img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  h2 {
    margin-bottom: 1rem;
  }

  ul {
    text-align: left;
    padding-left: 1.2rem;
    margin-bottom: 1.5rem;

    li {
      margin-bottom: 0.5rem;
    }
  }

  .red-dot {
    color: #d33;
    font-weight: bold;
  }

  .blue-dot {
    color: #3399ff;
    font-weight: bold;
  }

  .begin-btn {
    background-color: #3399ff;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #267ad8;
    }
  }
}
