.overlay-container h2 {
  margin: 0;
}
p {
  font-size: 2.2rem;
  margin: 0;
}

.new-puzzle {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  p {
    font-size: 1.2rem;
    margin: 0;
  }
}

.share-preview {
  font-family: monospace;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 0;
  white-space: pre;
  margin-bottom: 1rem;
}
